{% extends "base.html" %}
{% block title %}Ваши подписки на сайте{% endblock %}
{% block header %}Социальная сеть джунов <span style="color:red">Ya-</span>Dude{% endblock %}
{% block content %}
{% load thumbnail %}


  <div class="container">
    {% include "menu.html" with follow=True %}
    <!-- Вывод ленты записей -->
    {% for post in page %}
      <!-- Вот он, новый include! -->
      {% include "post_item.html" %}
    {% endfor %}
  </div>

  <!-- Вывод паджинатора -->
  {% include "misc/paginator.html" with items=page paginator=paginator%}


{% endblock %}
