<div class="card mb-3 mt-1 shadow-sm">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
        </a>
        {% if is_index %}
        {{ post.text|truncatechars:300|linebreaksbr|urlize }}
        {% else %}
        {{ post.text|linebreaksbr|urlize}}
        {% endif %}
      </p>
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
        <a class="card-link muted" href="{% url 'group_posts' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      {% endif %}
      {% if post.comments.exists %}
            <div class="btn btn-sm text-muted">
              Комментариев: {{ post.comments.count }}
            </div>
      {% endif %}
  
      <!-- Отображение ссылки на комментарии -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if from_post_view == false %}
          <a class="btn btn-secondary" href="{% url 'post' post.author.username post.id %}" role="button">
            Перейти
          </a>
          {% endif %}
          <!-- Ссылка на редактирование поста для автора -->
          {% if user == post.author %}
            <a class="btn btn-secondary" href="{% url 'post_edit' post.author.username post.id %}" role="button">
              Редактировать
            </a>
            <a class="btn btn-secondary" href="{% url 'post_del' post.author.username post.id %}" role="button">
              Удалить
            </a>
          {% endif %}
         
        </div>
  
        <!-- Дата публикации поста -->
        <small class="text-muted">Опубликовано:    {{ post.pub_date |date:"d m Y в H:i" }} по Мск</small>
        <!-- Количество потенциалных участников-->
        <div>
          <small class="text-muted">Буду участвовать:  {{ post.event.count }}</small>


        <!-- необходимо переписать условие: белое сердце - в случае, если текущий пользователь не поставил лайк -->
          {% if post.event.count == 0 %}
            <a class="btn btn-secondary" href="{% url 'event_like' post.id %}" role="button">🤍</a>
          {% else %}
            <a class="btn btn-secondary" href="{% url 'event_like' post.id %}" role="button">❤️</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div> 